---
layout: home
---

<ul class="post-list">
  {%- if page.category -%}
    {%- assign posts = site.categories[page.category] -%}
  {%- else -%}
    {%- assign posts = site.posts -%}
  {%- endif -%}
  {{ content }}
  {%- for post in posts -%}
    {%- if post.locale == page.locale or page.locale == null -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <div class="post-content e-content" itemprop="articleBody">
          {{ post.content }}
        </div>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>

